#backcontainer{
	position: fixed;
	width: 100%;
	z-index: -3;
}

#blackoverlay{
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: radial-gradient(transparent, black);
}

#bckimg{
	position: absolute;
	transform: translate(0%, -50%);
	transition: 1s all ease-in-out;
	width: 100%;
}

#bckimg > img{
	width: 100%;
	height: auto;
}

@keyframes sliding{
	0% {transform:  translate(0%, -50%)}
	25% {transform: translate(0%, -60%)}
	100% {transform: translate(0%, 0%)}
}