p{
	margin: 0px 0px 10px 0px;
}

#cont{
	opacity: 1;
	position: fixed;
	width: 270px;
	min-height: 750px;
	height: 100%;
	transform: translate(-100%,0%);
}

#input-heads{
	font-weight: 500;
	font-size: 14px;
}

#inputs{
	padding: 10% 0px 0px 20px;
}

#logo-side{
	opacity: 0.5;
	padding: 16px;
}

#black-tint{
	z-index: -1;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	position: absolute;
}

#toggle-side{
	margin: 30px 0px;
}

.side-btn{
	padding: 10px 30px;
	border-radius: 1px;
	border: 1px solid rgba(117,240,157,0.6);
}

#active-btn{
	background-image: linear-gradient(to right, rgba(117,240,157,0.4), rgba(117,240,157,0.1));
}

.dropdown-menu{
	box-sizing: border-box;
	width: 220px;
	padding: 10px;
	font-size: 14px;
	border-radius: 6px;
	border: 2px solid rgba(117,240,157,0.3);
	background-color: transparent;
	background-image: radial-gradient(rgba(117,240,157,0.1), transparent);
	color: rgba(117,240,157,1);
	appearance: none;
}

.dropdown-menu option{
	background: #0B1611;
	color: white;
	border-radius: 6px;
}

.dropdown-menu:hover{
	cursor: pointer;
}

.dd-box{
	position: relative;
	margin: 20px 0px;
}

#arrow-icon{
	position: absolute;
	right: 40px;
	bottom: 15px;
}

#search-icon{
	position: absolute;
	right: 40px;
	bottom: 12px;
}

#searchbar{
	box-sizing: border-box;
	width: 220px;
	padding: 10px;
	font-size: 14px;
	border-radius: 6px;
	border: 2px solid rgba(117,240,157,0.3);
	background-color: transparent;
	background-image: radial-gradient(rgba(117,240,157,0.1), transparent);
	color: rgba(117,240,157,0.4);
}

#searchbar:focus{
	outline: none;
	color: rgba(117,240,157,1);
}

.forms{
	position: relative;
}

#show-vault-tick{
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: rgba(193, 255, 213, 1);
	line-height: 21px;
}

#show-vault-tick > div{
	display: inline-block;
}

#tick-box{
	height: 25px;
	width: 25px;
	border-radius: 5px;
	border: 2px solid rgba(117,240,157,1);
}

#sv-text{
	transform: translate(10%, -40%);
}

#side-menu-bottom{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	background-image: linear-gradient(90deg, rgba(117, 240, 157, 0.1) 0%, rgba(6, 9, 9, 0) 100%);
}

#p_icon{
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(0%,-50%);
}

#svtt{
	position: absolute;
	top: 50%;
	transform: translate(60%, -50%);
}

#crossbtn{
	position: absolute;
	color: white;
	font-size: 20px;
	right: 0;
	padding: 10px 15px;
	display: none;
	z-index: 20;
}

#crossbtn:hover{
	cursor: pointer;
}

@media only screen and (max-width: 1260px){
#cont{
	left: -270px;
	z-index: 20;
	transition: 0.5s all ease-out;
	position: absolute;
}

#black-tint{
	z-index: -1;
	background-color: rgba(0,0,0,1);
}

#crossbtn{
	display: block;
}

}